h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  height: 20px;
  padding: 5px;
}
h3 {
  font-size: 25px;
 
}
h4 {
  font-size: 20px;
}
.free {
  font-size: 25px;
  color: rgb(14, 82, 14);
  text-align: center;
  
  
}

.header {
	background-image: url("img/header.png");
	text-align: center;
	width: 100%
	
}

.dos {
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin-left: 450px;
}

img[alt="image"] {
  border: 4px;
}
.home {
  font-size: 25px;
  background-color: rgb(153, 204, 0);
  text-align: center;
  color: white;
  text-align: center;
}
div {
  background: url(img/grey.jpg) 50px;
  border:2px solid black;
  background-position: center; 
  width: 30%;

}

#minorder {
  color: green;
  text-align: center;
  
}

p {
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: brown;
  font-size: 20px;
  text-transform: uppercase;
}
.footer {
  width: 100%;
}
